

.card{
    padding-bottom: 0.5em;
    width: 300px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}
.card__img {
    height:150px;
    background-position:center top;
    background-size:cover;
    border-radius:1em 1em 0 0;
}
.card__texts{
    padding:0.1em;
}

.card__title{
    text-align:center;
}

.card__cta{
    margin-left: 0.5em;
    text-decoration:none;
    padding: 1em 3em;
    width:150px;
    text-align:center;
    margin-top:auto;
}