.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    
}

.modal.is-open {
    display: flex;
}

.modal-container {
    position: relative;
    min-width: 1000px;
    max-width:900px ;
    min-height: 700px;
    max-height: 600px;
    overflow: auto;
    background-color:  #fff;

}
.modal-close {
    position: absolute;
    top:1rem;
    right: 1rem;

}