.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 40%;
    min-height: 70vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    
}
.button__more{
    border-radius: 0.1em 0.1em 0.1em 0.1em;
    box-shadow: 0 0 6px rgba(0,0,0,.5); 
    border: none;
}

.modal.is-open {
    display: flex;
  
}

.modal-container {
    position: relative;
    min-width: 300px;
    max-width:400px ;
    min-height: 300px;
    max-height: 400px;
    overflow: auto;
    background-color:  #fff;

}
.modal-close {
    position: absolute;
    top:1rem;
    right: 1rem;

}